html{font-size:16px;font-family: helvetica,"microsoft yahei";}
@media only screen and (min-width: 320px) {html {font-size:17.2px!important;}}
@media only screen and (min-width: 360px) {html {font-size:19.2px!important;}}
@media only screen and (min-width: 375px) {html {font-size:20px!important;}}
@media only screen and (min-width: 400px) {html {font-size:21.33px!important;}}
@media only screen and (min-width: 414px) {html {font-size:22.08px!important;}}
@media only screen and (min-width: 480px) {html {font-size:25.6px!important;}}
@media only screen and (min-width: 640px) {html {font-size:34.4px!important;}}

body,ul,li,h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	font-size: inherit;
	font-weight: normal;
}
body{
	font-family: "microsoft yahei";
	background-color: #F1F1F1;
}
body,html{
	width: 100%;
}
ul li{
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}
img{
	display: block;
}
*{
	box-sizing: border-box;
}
.f-l{
	float: left;
}
.f-r{
	float: right;
}
.clearfix{
	clear: both;
}
/*顶部*/
.l-header2{
	height: 3rem;
}
.l-header{
	overflow: hidden;
	position: fixed;
	z-index: 20;
	top: 0;
	background-image: url(../img-home/hd.jpg);
	background-size: cover;
	width: 100%;
	height: 3rem;
	padding-top: .3rem;
}
.l-header >.l-logo>img{
	height: 80%;
	margin-left: 1rem;
	margin-top: .1rem;
}
.l-header >.l-logo{
	display: block;
	height: 100%;
}
.l-header-words>p{
	margin-top: .2rem;
	color: #fff;
	font-size: .7rem;
}
.l-header-words>h3{
	    color: #7e859e;
	font-size: .7rem;
}
.l-header-words{
	margin-left: .5rem;
}
.l-download{
	margin-top: .3rem;
	margin-right: .7rem;
	display: block;
	width: 6rem;
	height: 1.99rem;
	background-image: url(../img-home/down.png);
	background-size: cover;
}
/*导航*/
.l-nav{
	background-color: #fff;
}
.l-nav>ul>li{
	text-align: center;
	float: left;
	width: 30%;
	height: 1.7rem;
	line-height: 1.5rem;
	font-size: .65rem;
	border-top: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}
.l-nav>ul>li>a{
	display: block;
	width: 100%;
	height: 100%;
}
.l-nav>ul>li:first-child{
	width: 10%;
	background-image: url(../img-home/backBg.png);
	background-repeat: no-repeat;
	background-size: .5rem 1rem;
	background-position: center center; 
}
.l-nav>ul>li:nth-child(2){
	background-image: url(../img-home/go_icon_02.png);
	background-size: cover;	
	color: #fff;
}

/*游戏介绍*/
.l-introduce>p>span{
	display: block;
	float: left;
	height: .7rem;
	width: .7rem;
	background: url(../img-home/go_icon_01.png) center center no-repeat;
	background-size: .7rem .7rem;
	margin-top: .1rem;
	margin-right: .2rem;
	margin-left: .3rem;
}
.l-introduce>p{
	color:#595757;
	font-size: .65rem;
	margin-top: 2rem;
}
.l-container{
	margin: .3rem;
	padding: .5rem;
	background-color: #fff;
	border-radius: .2rem;
}

.l-introduce>.l-container>img{
	width: 100%;
}
.l-introduce-words{
	font-size: .65rem;
	color: #555555;
}
.l-introduce-words>h2{
	font-size: .9rem;
	margin: 1rem 0;
	color: #464646;
}
/*游戏特色*/
.l-feature>p>span{
	display: block;
	float: left;
	height: .7rem;
	width: .7rem;
	background: url(../img-home/go_icon_04.png) center center no-repeat;
	background-size: .7rem .7rem;
	margin-top: .1rem;
	margin-right: .2rem;
	margin-left: .3rem;
}
.l-feature>p{
	color:#595757;
	font-size: .65rem;
	margin-top: 2rem;
}
/*.l-feature>.l-container{
	height: 20rem;
}*/
.l-list>li{
    color: #9fa0a0;
    border: 1px solid #9fa0a0;
	width: 18%;
	float: left;
	margin: .5rem 1%;
	text-align: center;
	font-size: .7rem;
	position: relative;
	z-index: 20;
	background-color: #fff;
	border-radius: .2rem;
}
.l-list>li>span{
	width: .3rem;
	height: .3rem;
	display: block;
	position: absolute;
	bottom: -.15rem;
	left: 50%;
	margin-left: -.15rem;
	border-bottom: 1px solid #9fa0a0;
	border-left: 1px solid #9fa0a0;
	z-index: 100;
	background-color: #fff;
	transform: rotateZ(-50deg);
	border-radius: 0 50% 0 0;
}
.l-list>li:first-child{
	color: #fff;
	background-color: #2784e0;
	border: none;
	z-index: 20;
}
.l-list>li:first-child>span{
	background-color: #2784e0;
	border: none;
	z-index: 2;
}
.l-icons>li{
	display: block;
	width: 7%;
	margin: 0 6.5%;
	float: left;
	position: relative;
	z-index: 99;
}
.l-icons>li>img{
	width: 100%;
}
.l-icons{
	position: relative;
}
.l-icons>span{
	display: block;
	width: 80%;
	z-index: 20;
	height: .2rem;
	border: 1px solid #d7d7d7;
    background: #eaeaea;
    position: absolute;
    top: 50%;
    margin-top: -.1rem;
    left: 50%;
    margin-left: -7rem;
}
.l-feature-words{
	font-size: .65rem;
	color: #555555;
}
.l-feature-words>h2{
	font-size: .9rem;
	margin: 1rem 0;
	color: #464646;
}
.l-feature img{
	width: 100%;
	border-radius: .2rem;
	margin-top: .3rem;
}






.l-footer{
    background: url(../img-home/navnew11.png) no-repeat 50% 0;
    left: 0;
    top: auto;
    height: 2rem;
    width: 100%;
    bottom: 0;
    background-size: 100% auto;
    font-size: 0;
    z-index: 9999;
    position: fixed;
}
.l-footer ul{
	    height: 100%;
}
.l-footer li>a{
	display: block;
	width: 100%;
	height: 100%;
}
.l-footer li{
	width: 25%;
    height: 2.16rem;
    float: left;
   
}
.l-footer li:nth-child(1){
	background: url(../img-home/navnew2.png);
    background-size: 400% auto;
    background-position: left;
}